

#footer {
	background: url(../images/im/bg_footer.png) no-repeat left bottom;
	bottom: 0;
	height: 115px;
	left: 0;
	position: absolute;
	width: 100%;
}

#footer #fb_like {
	width: 99px;
	height: 100px;
	position: absolute;
	right: 30px;
	top: -30px;
}

#footer #copyrights {
	float: right;
	font-size: 10px;
	padding: 75px 0 0 0;
	width: 330px;
}

#footer #clouds {
	background: url(../images/im/bg_clouds.png) repeat-x scroll left top;
	height: 68px;
}

#footer #butterfly_1 {
	background: url(../images/im/im_butterfly.png) no-repeat;
	cursor: pointer;
	width: 17px;
	height: 12px;
	left: 120px;
	position: absolute;
	top: 55px;
}

#footer #butterfly_2 {
	background: url(../images/im/im_butterfly.png) no-repeat;
	cursor: pointer;
	height: 12px;
	left: 150px;
	position: absolute;
	top: 55px;
	width: 17px;
}

#footer #butterfly_3 {
	background: url(../images/im/im_butterfly.png) no-repeat;
	cursor: pointer;
	height: 12px;
	left: 110px;
	position: absolute;
	top: 70px;
	width: 17px;
}

#footer #butterfly_4 {
	background: url(../images/im/im_butterfly.png) no-repeat;
	cursor: pointer;
	height: 12px;
	left: 160px;
	position: absolute;
	top: 70px;
	width: 17px;
}

#footer #human {
	background: url(../images/im/im_human.png) no-repeat;
	cursor: pointer;
	height: 33px;
	left: 200px;
	position: absolute;
	top: 80px;
	width: 33px;
}

#footer #birds {
	background: url(../images/im/im_birds.png) no-repeat;
	height: 28px;
	left: 500px;
	position: absolute;
	top: 20px;
	width: 70px;
}

#footer #car {
	background: url(../images/im/im_car.png) no-repeat;
	cursor: pointer;
	height: 75px;
	left: 500px;
	position: absolute;
	top: 40px;
	width: 95px;
}